body{
    font-family: Roboto,Arial;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    background-color: rgb(240, 254, 254);
}
.personal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.head{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    background-color: antiquewhite;
    color: rgb(8, 104, 189);
}
.region{
    display: grid;
    position: relative;
}
.sub-head{
    font-size: 25px;
    text-decoration: underline;
    padding: 5px;
    display: inline-block;
    justify-content: flex-start;
    position: relative;
    margin: 0;
    white-space: nowrap;
    font-weight: 550;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(5, 83, 179);
}
.title{
    font-size: 18px;
    text-decoration: underline;
    display: inline;
    position: relative;
    font-weight: 450;
    vertical-align: text-top;
    color: rgb(199, 72, 3);
}
.subtitle{
    color: rgb(232, 34, 163);
    font-size:18px;
}
.detail{
    margin: 15px;
}
.table{
    border-style: solid;
    border-radius: 5px;
    border-width: 8px;
    margin: 8px;
    background-color: rgb(101, 234, 134);
}
.container{
    max-width: 400px;
    display: grid;
    position: relative;
    margin: 8px;
}
.photo{
    width: 250px;
    background-color: aquamarine;
    border: solid;
    position:static;
    left: 0;
    border-width: 3.5px;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: rgb(223, 5, 85);
}
.overlay{
    position: absolute;
    top:0;
    right:0;
    height:auto;
    width: 240.99px;
    opacity: 0;
    left: 0;
    bottom: 0;
    transition: 0.15s;
    margin-left: 0;
    margin-right: 0;
    border-radius: 2px;
    border-style: solid;
    border-width: 5px;
}
.overlay:hover{
    opacity: 1;
    cursor: pointer;
    border-color: rgb(254, 232, 178);
}
